h1{
  text-align: center;
}
h5{
  text-align: center;
}
h2{
  display: block;
}
h3{
  display: block;
}
h9{
  display: none;
}
h7{
  display: none;
}
h8{
  display: none;
}
h10{
  color: red;
  display: none;
}
